[submodule "vendor/cpp-httplib"]
	path = vendor/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "vendor/SQLiteCpp"]
	path = vendor/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "vendor/json"]
	path = vendor/json
	url = https://github.com/nlohmann/json.git
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
